img.circle{
    height: 100px;
border-radius: 50%;
}
.contenedor-servicios{

    float: left;
    width: 95.3%;
    padding: 10px;
    background-color: rgba(142, 194, 194,0.5);
    margin: 10px;
    height: 300px;

}

.contenedor-servicios>h2{
    text-align: center;
}
img.circle{
    display:block;
    margin:auto;
    }
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
             
      }
      .titulo{
          text-align: center;
          background-color: rgba(142, 194, 194,0.5);
          width: 96.5%;
          margin: 10px;
          
      }
      .contenedor-quienesSomos{

        
        width: 95.3%;
        padding: 10px;
        background-color: rgba(142, 194, 194,0.5);
        margin: 10px;
        height: 300px;
        text-align: justify;
    
    }
    img.circle1{
        display:block;
        margin:auto;
        height: 200px;
        border-radius: 50%;
        
        }
        .contenedor-imagen{
            float: left; 
            width: 30%;
        }
        .contenedor-texto{
            float: left; 
            width: 70%;
            text-align: justify;
        }
     
   fieldset{
       width: 95.3%;
   }  
fieldset > legend{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
   
}

.control-formulario{
    height: auto;
    width: 50%;
    border-radius: 4px;
    line-height: 30px;
    border: 1px solid rgb(2, 56, 70);
    margin-top: 5px;
    margin-bottom: 10px;
}
caption{ color: #ffffff; text-transform: uppercase; font-size: 2em; font-weight: bold; background-color: rgb(42, 44, 39);}
    thead>tr>td {font-weight: bold; color: #ffffff; font-style: oblique; background-color:rgb(42, 44, 39); }
    td{ padding: 5px;}
    .resaltado1{background-color: cyan;}
    .contenedor{
        display: flex;
        justify-content: center;
        width: 96.5%;
        background-color: rgb(112, 203, 245);
        
        margin: 10px;
    }
    table{
        width: 96.5%;
        margin: 10px;
    }
    
    .contenedor > a {
        font-size: 18px;
        padding: 15px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        width: 100%;
      }
    
      .contenedor > a:hover, .opcion-activa {
        background-color: rgb(79, 172, 216);
      }
  
    